.nav-menu-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.nav-menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.nav-menu-exit {
  opacity: 1;
  transform: translateY(0);
}
.nav-menu-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
