@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .shop-button {
    @apply bg-black text-white px-7 py-2 rounded-[2rem] hover:bg-gray-500;
  }
  .shop-button-white {
    @apply bg-white text-black px-7 py-2 rounded-[2rem] hover:bg-gray-300;
  }
  .text-bolder {
    @apply uppercase text-[11vw] font-black font-Oswald leading-[1] tracking-tighter;
  }
  .text-bolder-md {
    @apply uppercase text-[4vw] font-black font-Oswald leading-[1] tracking-tighter;
  }
}
